{% extends 'layout.html' %}

{% block body %}

<h1>Registrar</h1>
<div class="card card-body">
  <form action="/register" method="POST">
    <input type="text" name="user" placeholder="user">
    <input type="text" name="password" placeholder="password">
    <button type="submit">
      Register
    </button>
  </form>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endwith %}

{% endblock %}